.usersContainer {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.toggle30 {
  margin: 60px auto;
  display: block;
  width: 220px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  background: linear-gradient(
    45deg,
    green,
    rgb(146, 209, 30),
    rgb(12, 114, 51)
  );
  color: rgb(30, 63, 134);
  padding: 8px;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.active {
  background-color: green;
  color: white;
}
.notActive {
  background-color: bisque;
  color: rgb(30, 63, 134);
}
