.cardContainer {
  width: 200px;
  padding: 8px;
  border-radius: 24px 24px 0 24px;
  list-style: none;
  &:hover {
    cursor: pointer;
  }
}
.active {
  background-color: green;
  color: white;
}
.notActive {
  background-color: bisque;
  color: rgb(30, 63, 134);
}
